@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply btn bg-white text-black hover:bg-slate-300 hover:text-black border-none;
  }

  .btn-secondary {
    @apply btn btn-ghost text-white;
  }

  .btn-light-green {
    @apply btn bg-gbm-green-light text-white hover:bg-gbm-green-light hover:text-white border-none;
  }

  .btn-dark-green {
    @apply btn bg-gbm-green-darker text-white hover:bg-gbm-green-dark hover:text-white border-none;
  }

  .btn-maroon {
    @apply btn bg-maroon text-white hover:bg-maroon hover:text-white border-none;
  }

  .btn-purple {
    @apply btn bg-gbm-purple text-white hover:bg-gbm-purple hover:text-white border-none;
  }

  .btn-cream {
    @apply btn bg-cream text-matcha hover:bg-cream hover:text-matcha border-none;
  }
}

.carousel-scrollbar {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: auto;
  scrollbar-width: thin;
}

.carousel-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.carousel-scrollbar::-webkit-scrollbar-track {
  border-radius: 0 0 8px 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.carousel-scrollbar::-webkit-scrollbar-thumb {
  background-color: #464c78;
  border-radius: 0 0 8px 8px;
}
